.dp {
    &-block {
        display: block
    }
    &-flex {
        display: flex;
    }
}

.f {
    &-drt {
        &-column {
            flex-direction: column;
        }
    }
}

.jtf {
    &-ct {
        &-center {
            justify-content: center;
        }
        &-flex-end {
            justify-content: flex-end;
        }
    }
}

.al {
    &-it {
        &-center {
            align-items: center;
        }
    }
}

.w-100pct { width: 100%; }
.mn-w-unset { min-width: unset; }

.h-100pct { height: 100%; }
.h-40px { height: 40px; }
.h-48px { height: 48px; }

.mg {
    &-t-10px {
        margin-top: 10px;
    }
    &-t-15px {
        margin-top: 15px;
    }
    &-t-20px {
        margin-top: 20px;
    }
    &-t-21px {
        margin-top: 21px;
    }
    &-t-24px {
        margin-top: 24px;
    }
    &-vtc-21px {
        margin-top: 21px;
        margin-bottom: 21px;
    }
    &-bt-10px {
        margin-bottom: 10px;
    }
    &-bt-15px {
        margin-bottom: 15px;
    }
    &-bt-20px {
        margin-bottom: 20px;
    }
    &-bt-23px {
        margin-bottom: 23px;
    }
    &-bt-30px {
        margin-bottom: 30px;
    }
    &-r-10px {
        margin-right: 10px;
    }
    &-r-18px {
        margin-right: 18px;
    }
}

.pd {
    &-all-15px {
        padding: 15px;
    }
    &-vtc-10px {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &-l-33px {
        padding-left: 33px;
    }
    &-t-10px {
        padding-top: 10px;
    }
    &-t-11px {
        padding-top: 11px;
    }
    &-t-20px {
        padding-top: 20px;
    }
    &-t-26px {
        padding-top: 26px;
    }
    &-t-37px {
        padding-top: 37px;
    }
    &-vtc-40px {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &-bt-23px {
        padding-bottom: 23px;
    }
    &-bt-70px {
        padding-bottom: 70px;
    }
}

.w-sp-pre-line {
    white-space: pre-line;
}

.cl {
    &-primary {
        color: @color-primary;
    }
    &-light-gray {
        color: @color-light-gray;
    }
    &-success {
        color: #43be39;
    }
    &-danger {
        color: #f20000;
    }
}

.t {
    &-al {
        &-start {
            text-align: start;
        }
        &-center {
            text-align: center;
        }
        &-end {
            text-align: end;
        }
    }
}

.f {
    &-s-1-2 {
        font-size: 1.2rem;
    }
    &-s-1-4 {
        font-size: 1.4rem;
    }
    &-s-1-6 {
        font-size: 1.6rem;
    }
    &-s-1-8 {
        font-size: 1.8rem;
    }
    &-s-4 {
        font-size: 4rem;
    }
    &-w-normal {
        font-weight: normal;
    }
    &-w-500 {
        font-weight: 500;
    }
}

.cs {
    &-pointer {
        cursor: pointer;
    }
}