.oa-button () {
    height: 40px;
    min-width: 100px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 4px;
    border-width: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.oa {
    &-button {
        .oa-button();
        background-color: white !important;
        color: rgba(0, 0, 0, 1) !important;
        &:hover {
            color: rgba(0, 0, 0, 1) !important;
            background-color: rgba(226, 230, 234, 1) !important;
        }
        &.is-primary {
            background-color: @color-primary !important;
            color: rgba(255, 255, 255, 1) !important;
            &:hover {
                background-color: rgba(244, 143, 6, 1) !important;
                color: rgba(255, 255, 255, 1) !important;
            }
            &.is-invert {
                background-color: rgba(255, 255, 255, 1) !important;
                color: @color-primary !important;
                border: 1px @color-primary solid;
                &:hover {
                    background-color: rgba(226, 230, 234, 1) !important;
                }
            }
        }
        &.is-danger {
            background-color: rgba(220, 53, 69, 1) !important;
            color: rgba(255, 255, 255, 1) !important;
            &:hover {
                background-color: rgb(200,35,51) !important;
            }
        }
    }
}


/* Fix ant-card-wider-padding */
.ant-card-body {
    padding: 24px 32px;
}

.card.ant-card.is-active {
    box-shadow: 0 1px 10px 0 rgba(244, 143, 6, 1);
}

/* Disable button */
.ant-btn[disabled], .ant-btn[disabled]:hover {
    background-color: rgb(108,117,125) !important;
    color: rgba(255, 255, 255, 1) !important;
}

/* Fix Dropdown */
.ant-select-selection-selected-value,
.ant-input::placeholder,
.ant-calendar-picker-input.ant-input::placeholder,
.ant-time-picker-input::placeholder,
.ant-input-number-input::placeholder,
textarea.ant-input::placeholder {
    color: rgba(149, 152, 154, 1);
    font-size: 1.5rem;
}

.ant-pagination-item-active, .ant-pagination-item:hover {
    border-color: @color-primary;
    & > a {
        color: @color-primary;
    }
}

.ant-form-explain {
    padding-top: 5px;
}