<template>
  <base-container>
    <bread-crumb :links="links" />
    <wizard :step="state" :steps="steps">
      <component
        :is="openStateComponent"
        :farms="userFarms"
        :selected-farm-id.sync="auctionData.farmId"
        :selected-farm-name.sync="selectedFarmName"
        :expected-harvest-output.sync="auctionData.expectedHarvestOutput"
        :expected-harvest-date-time-start.sync="auctionData.expectedHarvestDateTimeStart"
        :disabled-date="disabledDate"
        :expected-harvest-date-time-end.sync="auctionData.expectedHarvestDateTimeEnd"
        :is-collect-service.sync="auctionData.isCollectService"
        :extra-condition.sync="auctionData.extraCondition"
        :upload-media-list="medias"
        :price-start.sync="auctionData.priceStart"
        :date-time-start.sync="auctionData.dateTimeStart"
        :date-time-end.sync="auctionData.dateTimeEnd"
        :otp.sync="otp"
        :otp-ref="createUserAuctionOtpResult && createUserAuctionOtpResult.ref || ''"
        :user="user"
        @changeFarmMedia="onChangeFarmMedia"
        @nextState="onNextState"
        @previousState="onPreviousState"
        @submitCreateAuction="onSubmitCreateAuction"
        @requestOtp="onRequestOtp"
        @onConfirmAuction="onConfirmAuction"
      />
    </wizard>
  </base-container>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
import moment from 'moment'
import BreadCrumb from '~/components/base-components/bread-crumb.vue'
import Wizard from '~/components/base-components/wizard/wizard.vue'

export default {
  name: 'AuctionOpenSuccessPage',
  layout: 'gray-background',
  middleware: 'authenticated',
  components: {
    BreadCrumb,
    Wizard
  },
  computed: {
    userFarms: get('auction/userFarms'),
    createUserAuctionResult: get('auction/createUserAuctionResult'),
    createUserAuctionOtpResult: get('auction/createUserAuctionOtpResult'),
    user: get('auth/user'),
    openStateComponent () {
      return this.steps[this.state].component
    }
  },
  data () {
    return {
      state: 0,
      selectedFarmName: undefined,
      auctionData: {
        farmId: null,
        expectedHarvestOutput: null,
        expectedHarvestDateTimeStart: null,
        expectedHarvestDateTimeEnd: null,
        isCollectService: false,
        extraCondition: null,
        priceStart: null,
        dateTimeStart: null,
        dateTimeEnd: null
      },
      medias: [],
      otp: undefined,
      maxState: 3,
      links: [
        {
          'title': 'เปิดการประมูล',
          'link': ''
        }
      ],
      steps: [
        {
          state: 0,
          title: 'เลือกฟาร์ม',
          component: require('~/components/auction-page/open/farm-selector.vue').default
        },
        {
          state: 1,
          title: 'ลงรายละเอียดสินค้า',
          component: require('~/components/auction-page/open/regist-data.vue').default
        },
        {
          state: 2,
          title: 'ลงรายละเอียดการประมูล',
          component: require('~/components/auction-page/open/regist-auction.vue').default
        },
        {
          state: 3,
          title: 'ยืนยันการเปิดประมูล',
          component: require('~/components/auction-page/open/confirm-auction.vue').default
        }
      ]
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auction/fetchUserFarms')
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  methods: {
    ...call('auction', [
      'createUserAuction',
      'createUserAuctionMedia',
      'createUserAuctionOtp',
      'updateUserAuctionOtp'
    ]),
    ...mapWaitingActions('auction', {
      createUserAuction: 'base loading',
      createUserAuctionMedia: 'base loading',
      createUserAuctionOtp: 'base loading',
      updateUserAuctionOtp: 'base loading'
    }),
    disabledDate (current, end) {
      return moment(current).diff(end, 'days') > 0
    },
    transformMediaFormData (id, image) {
      const formData = new FormData()
      formData.append('path', image)
      formData.append('auction_base', id)
      return formData
    },
    requestUploadMedia (id, mediaFiles) {
      return mediaFiles.map(
        file => Promise.resolve(
          this.createUserAuctionMedia({ id, formData: this.transformMediaFormData(id, file) })
        )
      )
    },
    onNextState () {
      if (this.state < this.maxState) { this.state++ }
    },
    onPreviousState () {
      if (this.state > 0) { this.state-- }
    },
    onChangeFarmMedia ({ fileList }) {
      this.medias = fileList
    },
    async onSubmitCreateAuction () {
      try {
        await this.createUserAuctionOtp()
        this.onNextState()
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง'
        })
      }
    },
    async onRequestOtp () {
      try {
        await this.createUserAuctionOtp()
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'ไม่สามารถทำการขอ OTP ได้'
        })
      }
    },
    async onConfirmAuction () {
      try {
        const auctionData = {
          ...this.auctionData,
          tempRef: (this.createUserAuctionOtpResult && this.createUserAuctionOtpResult.ref) || '',
          tempOtp: this.otp || '',
          farm: this.auctionData.farmId,
          dateTimeStart: moment(this.auctionData.dateTimeStart).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format(),
          dateTimeEnd: moment(this.auctionData.dateTimeEnd).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format(),
          expectedHarvestDateTimeStart: moment(this.auctionData.expectedHarvestDateTimeStart).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format(),
          expectedHarvestDateTimeEnd: moment(this.auctionData.expectedHarvestDateTimeEnd).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format()
        }
        console.log('AuctionData', auctionData)
        await this.createUserAuction(auctionData)
        if (this.medias.length > 0) {
          await Promise.all(
            this.requestUploadMedia(this.createUserAuctionResult.id, this.medias.map(media => media.originFileObj))
          )
        }
        this.$router.push({ name: 'auction-open-success' })
      } catch (error) {
        console.log(error)
        let errorMessage = 'เกิดข้อผิดพลาด'
        const { response } = error
        const { data } = response
        if (data && data.length > 0) {
          if (data[0] === 'self auction') {
            errorMessage = 'ไม่สามารถประมูลให้ตัวเองได้'
          } else if (data[0] === 'price lower than current price') {
            errorMessage = 'ราคาที่ประมูลต้องมากกว่าราคาเดิม'
          } else if (data[0] === 'invalid guarantee') {
            errorMessage = 'วงเงินการันตี ของท่านไม่เพียงพอ'
          } else if (data[0] === 'invalid otp') {
            errorMessage = 'รหัส OTP ผิดพลาด'
          }
        }
        this.$notification.error({
          message: 'Error',
          description: errorMessage
        })
      }
    }
  }
}
</script>
