<template>
  <div class="search-content-container">
    <div class="search-content-section">
      <div class="search-content-label">
        ชนิด :
      </div>
      <div class="search-content-select">
        <a-select
          placeholder="ชนิด"
          :value="fruitTypeId"
          @change="e => $emit('changeFruitType', e)"
        >
          <a-select-option
            v-for="(fruitType, index) in fruitTypes"
            :key="index"
            :value="fruitType.id"
          >
            {{ fruitType.name }}
          </a-select-option>
        </a-select>
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">
        ชนิดพันธุ์ :
      </div>
      <div class="search-content-select">
        <a-select
          placeholder="ชนิดพันธุ์"
          :value="fruitBreedId"
          :disabled="fruitBreeds.length <= 0"
          @change="e => $emit('update:fruitBreedId', e)"
        >
          <a-select-option
            v-for="(fruitBreed, index) in fruitBreeds"
            :key="index"
            :value="fruitBreed.id"
          >
            {{ fruitBreed.name }}
          </a-select-option>
        </a-select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductSearch',
  props: {
    fruitTypes: Array,
    fruitBreeds: Array,
    fruitTypeId: Number,
    fruitBreedId: Number
  }
}
</script>

<style lang="scss">
.search-content-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  .search-content-section {
    width: 100%;
    margin-bottom: 10px;
    .search-content-label {
      display: inline-block;
      width: 130px;
      text-align: left;
      margin-right: 10px;
      @media only screen and (min-width: 768px) {
        text-align: right;
      }
    }
    .search-content-select {
      display: inline-block;
      width: 224px;
      .ant-select {
        width: 100%;
      }
    }

    .search-content-input {
      display: inline-block;
      width: 224px;
    }
  }
}
</style>
