<template>
  <div>
    <base-container class="wrapper">
      <a-card class="card dp-flex mg-t-21px t-al-center h-100pct" style="justify-content: center">
        <div class="card__container">
          <h1 class="f-s-4 f-w-500">
            ลงทะเบียน
          </h1>
          <div class="pd-vtc-40px">
            <a-input v-model="firstName" class="h-48px f-s-1-8 mg-bt-15px" placeholder="ชื่อ" />
            <a-input v-model="lastName" class="h-48px f-s-1-8 mg-bt-15px" placeholder="นามสกุล" />
            <a-input v-model="email" class="h-48px f-s-1-8 mg-bt-15px" placeholder="อีเมล" />
            <a-input v-model="password" class="h-48px f-s-1-8 mg-bt-15px" placeholder="รหัสผ่าน" type="password" />
            <div class="t-al-start cl-light-gray f-s-1-8 mg-bt-15px">
              ต้องใช้รหัสผ่าน 8 ตัวขึ้นไปโดยใช้ตัวอักษรและตัวเลข
            </div>
            <a-input class="h-48px f-s-1-8 mg-bt-15px" placeholder="ยืนยันรหัสผ่าน" type="password" />
          </div>
          <a-checkbox class="mg-bt-30px" :checked="checked" @change="onChange">
            <span class="f-s-1-4">
              ข้าพเจ้าได้ยอมรับใน
              <nuxt-link class="f-s-1-4" to="/policy">เงื่อนไขและข้อตกลงในการใช้บริการ</nuxt-link>
              และ
              <a class="f-s-1-4">นโยบายความเป็นส่วนตัว</a>
            </span>
          </a-checkbox>
          <a-button
            class="oa-button is-primary w-100pct h-48px"
            :disabled="!checked"
            @click="submit"
          >
            ลงทะเบียน
          </a-button>
        </div>
        <label class="f-s-1-8">
          มีบัญชีผู้ใช้แล้ว ?
          <nuxt-link class="f-s-1-8" to="/login">
            เข้าสู่ระบบ
          </nuxt-link>
        </label>
      </a-card>
    </base-container>
  </div>
</template>

<script>
import { call } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'

export default {
  name: 'RegisterPage',
  layout: 'gray-background',
  data () {
    return {
      isLoading: false,
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      checked: false
    }
  },
  methods: {
    ...call('auth', [
      'register'
    ]),
    ...mapWaitingActions('auth', {
      register: 'base loading'
    }),
    onChange (e) {
      this.checked = e.target.checked
    },
    async submit () {
      const params = {
        username: this.email,
        password: this.password,
        confirmPassword: this.password,
        firstName: this.firstName,
        lastName: this.lastName
      }
      try {
        await this.register(params)
        this.$router.push('/login')
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'กรุณากรอกข้อมูลให้ถูกต้อง'
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.wrapper {
  @media only screen and (min-width: 768px) {
    width: 600px;
  }
}
.card__container {
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
  .end-line();
  @media only screen and (min-width: 768px) {
    width: 540px;
  }
}
</style>
